services:
  database:
    image: mariadb
    container_name: nextcloud-db
    restart: always
    command: --transaction-isolation=READ-COMMITTED --log-bin=binlog --binlog-format=ROW
    volumes:
      - ${NC_DATABASE_FOLDER:-./nc-database}:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
    networks:
      - net

  nextcloud:
    image: lscr.io/linuxserver/nextcloud:latest
    container_name: nextcloud-app
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_HOST=database
      - NEXTCLOUD_TRUSTED_DOMAINS=${TRUSTED_DOMAINS}
      - REDIS_HOST=redis
      - REDIS_HOST_PORT=${REDIS_PORT:-6379}
      - REDIS_PASSWORD=${REDIS_PASSWORD:-passwd}
    volumes:
      - ${NC_CONFIG_FOLDER:-./nc-config}:/config
      - ${NC_ACCOUNTS_FOLDER:-./nc-data}:/data
    ports:
      - ${NEXTCLOUD_PORT:-443}:443
    restart: unless-stopped
    depends_on:
      - database
      - redis
    networks:
      - net

  redis:
    image: redis:alpine
    restart: always
    command: redis-server --appendonly yes --requirepass ${REDIS_PASSWORD:-passwd}
    volumes:
      - ${NC_REDIS_FOLDER:-./nc-redis}:/data

networks:
  net:
    external: false
