services:
  database:
    image: mariadb
    container_name: nextcloud-db
    restart: always
    command: --transaction-isolation=READ-COMMITTED --log-bin=binlog --binlog-format=ROW
    volumes:
      - ${NC_DATABASE_FOLDER:-./nc-database}:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
    networks:
      - net

  cron:
    image: elestio/nextcloud
    container_name: nextcloud-cron
    restart: always
    volumes:
      - ${NC_ROOT_FOLDER:-./nc-root}:/var/www/html
      - ${NC_CUSTOM_APPS_FOLDER:-./nc-custom_apps}:/var/www/html/custom_apps
      - ${NC_CONFIG_FOLDER:-./nc-config}:/var/www/html/config
      - ${NC_ACCOUNTS_FOLDER:-./nc-data}:/var/www/html/data
    entrypoint: /cron.sh
    networks:
      - net

  nextcloud:
    image: elestio/nextcloud
    container_name: nextcloud-app
    environment:
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_HOST=database
      - OVERWRITEPROTOCOL=https
      - NEXTCLOUD_TRUSTED_DOMAINS=${TRUSTED_DOMAINS}
    volumes:
      - ${NC_ROOT_FOLDER:-./nc-root}:/var/www/html
      - ${NC_CUSTOM_APPS_FOLDER:-./nc-custom_apps}:/var/www/html/custom_apps
      - ${NC_CONFIG_FOLDER:-./nc-config}:/var/www/html/config
      - ${NC_ACCOUNTS_FOLDER:-./nc-data}:/var/www/html/data
    ports:
      - ${NEXTCLOUD_PORT:-80}:80
    restart: unless-stopped
    depends_on:
      - database
    networks:
      - net

networks:
  net:
    external: false
