services:
  database:
    image: mariadb
    container_name: nextcloud-db
    restart: always
    command: --transaction-isolation=READ-COMMITTED --log-bin=binlog --binlog-format=ROW
    volumes:
      - ${NC_DATABASE_FOLDER:-./nc-database}:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
    networks:
      - net

  redis:
    image: redis
    container_name: nextcloud-redis
    restart: always
    volumes:
      - ${NC_REDIS_CONFIG_FOLDER:-./nc-redis-config}:/usr/local/etc/redis
    networks:
      - net

  cron:
    image: elestio/nextcloud
    container_name: nextcloud-cron
    restart: always
    volumes:
      - ${NC_ROOT_FOLDER:-./nc-root}:/var/www/html
      - ${NC_CUSTOM_APPS_FOLDER:-./nc-custom_apps}:/var/www/html/custom_apps
      - ${NC_CONFIG_FOLDER:-./nc-config}:/var/www/html/config
      - ${NC_ACCOUNTS_FOLDER:-./nc-data}:/var/www/html/data
    entrypoint: /cron.sh

  nextcloud:
    image: elestio/nextcloud
    container_name: nextcloud-app
    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ=${TIMEZONE:-UTC}
      - REDIS_HOST=redis
      - OVERWRITEPROTOCOL=https
      - TRUSTED_DOMAINS=${TRUSTED_DOMAINS}
    volumes:
      - ${NC_ROOT_FOLDER:-./nc-root}:/var/www/html
      - ${NC_CUSTOM_APPS_FOLDER:-./nc-custom_apps}:/var/www/html/custom_apps
      - ${NC_CONFIG_FOLDER:-./nc-config}:/var/www/html/config
      - ${NC_ACCOUNTS_FOLDER:-./nc-data}:/var/www/html/data
    ports:
      - ${NEXTCLOUD_PORT:-443}:443
    restart: unless-stopped
    depends_on:
      - database
      - redis
    networks:
      - net

networks:
  net:
    external: false
